.layout {
    
}

.layout-row {
    
}

.radio-row {
    
}

.layout-row span {
    padding: 0 3px;
}

.card-columns {
    display: flex
}

.card {
    flex: 1
}

.bitboard {
    
}

.bitboard input[type='checkbox'] {
    margin: 5px;
}

.bitboard button[type='colbutton'] {
    margin-left: 0.69rem;
    padding: 5px;
    margin-bottom: 0.8rem;
}

.bitboard button[type='rowbutton'] {
    margin-left: 5px;
    margin-right: 3px;
    margin-top: -5px;
}

.input-row {
    align-content: flex-end;
    }

.buttons-row {
    margin: 5px;
}
.colspacer {
    height: 29px;
}
.no-bottom-margin {
    margin-bottom: 0px!important;
}

.small-bottom-margin {
    margin-bottom: 5px!important;
}

.small-padding {
    padding: 5px!important;
}

input[type="checkbox"][readonly] {
    pointer-events: none;
}

button[type='rowbutton']{
    padding: 5px!important;
}


@media (max-width: 1000px) {
    .custom-columns-1-3 {
        column-count: 1;
    }
}
@media (min-width: 1000px) {
    .custom-columns-1-3 {
        column-count: 3;
    }
}

@media (max-width: 700px) {
    .custom-columns-1-2-4 {
        column-count: 1;
    }
}
@media (min-width: 700px) {
    .custom-columns-1-2-4 {
        column-count: 2;
    }
}
@media (min-width: 1200px) {
    .custom-columns-1-2-4 {
        column-count: 4;
    }
}