.layout {
    
}

.layout-row {
    
}

.radio-row {
    
}

.layout-row span {
    width: 5px;
}

.bitboard {
    
}

.bitboard input[type='checkbox'] {
    margin: 5px;
}

.input-row {
    
}

.input-row input[type='textbox'] {
    margin-top: 5px;
}

.buttons-row {
    margin: 5px;
}

@media (min-width: 600px) {
    .container{
        max-width: 900px;
    }
}